<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Gửi yêu cầu</div>
      <div class="card-body">
        <form th:action="@{/addRequestForm}" th:object="${requestFormModel}" method="POST">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" th:field="*{cusName}"  id="cusName" class="form-control" placeholder="Điền tên của bạn" required="required">
              <label for="cusName">Điền tên của bạn</label>
            </div>
            <br>
            <div class="form-label-group">
                <input type="email" th:field="*{cusEmail}" id="cusEmail" class="form-control" placeholder="Địa chỉ email" required="required">
                <label for="cusEmail">Địa chỉ email</label>
            </div>
            <br>
            <div class="form-label-group">
                <input type="number" th:field="*{cusPhoneNo}" id="cusPhoneNo" class="form-control" placeholder="Số điện thoại" required="required">
                <label for="cusPhoneNo">Số điện thoại</label>
            </div>
            <br>
            <div class="form-label-group">
                <input type="text" th:field="*{cusAddress}" id="cusAddress" class="form-control" placeholder="Địa chỉ" required="required">
                <label for="cusAddress">Địa chỉ</label>
            </div>
            <br>
            <div class="form-label-group">
                <input type="number" th:field="*{cusIdentityNo}" id="cusIdentityNo" class="form-control" placeholder="Chứng minh thư hoặc hộ chiếu" required="required">
                <label for="cusIdentityNo">Chứng minh thư hoặc hộ chiếu</label>
            </div>
            <br>
            <div class="form-label-group">
                <select th:field="*{requestFormType}" class="form-control">
                    <option th:value="1">Chuyển tiền</option>
                    <option th:value="2">Vay tiền</option>
                    <option th:value="3">Giấy tờ</option>
                </select>
            </div>
          </div>
          <button class="btn btn-danger btn-block" type="submit">Tiếp tục</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
